.header{
    
    padding: 60px;
    text-align: center;
    font-size: 30px;
}

.body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 60px;
    font-size: medium;
    text-align: center;
}

.git-container{
    display: flex;
    margin:  0 1vh;
}

.git-link{
    padding: 0 1vh;
    border-right: .5vh;
    border-left: .1vh;
}